@{
    ViewData["Title"] = "Extensiones NominABG";
}

<div class="center-content">    
    <h1><strong>Bienvenidos</strong></h1>
    <h2>@ViewData["Title"]</h2>
    <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Login">Iniciar</a>
</div>

