@{
    ViewData["Title"] = "Bienvenido";
    
}

<section class="flex min-h-screen flex-col items-center justify-center text-white">
    <div class="space-y-4 text-center">
        <h1 class="border-2 rounded-lg bg-gray-500 p-2 text-3xl lg:text-8xl"><strong>Bienvenido</strong></h1>
        <h2 class="border-2 rounded-lg bg-gray-500 p-2 text-sm lg:text-4xl">@ViewData["UserActive"]</h2>
        <div class="flex-row justify-center p-10 shadow-xl">
            <a class="border-2 h-12 w-12 rounded-lg bg-green-700 px-5 py-2 font-medium shadow-xl hover:bg-blue-500" asp-area="" asp-controller="Home" asp-action="Reporte">Reporte</a>
            <a class="border-2 h-12 w-12 rounded-lg bg-green-700 px-5 py-2 font-medium shadow-xl hover:bg-blue-500" asp-area="" asp-controller="Home" asp-action="Nomina">Nomina</a>
        </div>
    </div>
</section>
