@{
    ViewData["Title"] = "Bienvenido";
    
}

<section class="flex min-h-screen flex-col items-center justify-center text-white">
    <div class="space-y-6 text-center">

        <!-- Título principal -->
        <h1 class="border-1 border-white rounded-xl bg-gray-500 px-6 py-4 text-4xl lg:text-7xl font-extrabold shadow-lg tracking-wide">
            Bienvenido
        </h1>

        <!-- Usuario activo -->
        <h2 class="border-1 border-white rounded-lg bg-gray-500 px-5 py-2 text-lg lg:text-3xl font-medium shadow-md">
            @ViewData["UserActive"]
        </h2>

        <!-- Botones -->
        <div class="flex flex-col sm:flex-row gap-4 justify-center pt-8">
            <a  asp-area=""
                asp-controller="Home"
                asp-action="Reporte"
                class="rounded-lg border-2 border-green-600 bg-green-700 px-8 py-3 font-semibold text-white shadow-lg transition-all duration-200 hover:scale-105 hover:bg-blue-600 hover:border-blue-600">
                
                Reporte
            </a>

            <a  asp-area=""
                asp-controller="Home"
                asp-action="Nomina"
                class="rounded-lg border-2 border-green-600 bg-green-700 px-8 py-3 font-semibold text-white shadow-lg transition-all duration-200 hover:scale-105 hover:bg-blue-600 hover:border-blue-600">
                Nómina
            </a>
        </div>

    </div>
</section>
