@{
    ViewData["Title"] = "Nomina";
}
<div class="center-content">
    <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" alt="Engrane girando" />
    <h1><strong>Trabajando en ello</strong></h1>
    <h2>Gracias por usar extensiones NOMIABG</h2>
</div>