@{
    ViewData["Title"] = "Nomina";
    
}

<section class="mt-20 flex flex-col items-center">
    <div class="border-2 container flex flex-col items-center rounded-lg bg-gray-500 p-5 text-white">
    
        <h1 class="text-center text-base lg:text-3xl">
            <strong>Selecciona tus opciones</strong>
        </h1>

        <div class="flex flex-col lg:flex-row">
            <section class ="px-2">
                <h3>Año</h3>
                <select id="peAnio" class="w-32 rounded border border-blue-500 p-1 px-1 text-black">
                    <option value="">AÑO</option>
                    @foreach (var anio in ViewBag.PeAnio)
                    {
                        <option value="@anio">@anio</option>
                    }
                </select>
            </section>
            <section class="px-2">
                <h3>Tipo</h3>
                <select id="peTipo" class="w-32 rounded border border-blue-500 p-1 px-1 text-black" disabled>
                    <option value="">TIPO</option>
                </select>
            </section>
            <section class="px-2">
                <h3>Número</h3>
                <select id="teNumeroPeriodo" class="w-32 rounded border border-blue-500 p-1 px-1 text-black" disabled>
                    <option value="">NUMERO</option>
                </select>
            </section>
        </div>
        <div id="nominas" class="px-2 py-2 text-center">
            <button  class="nominas border-2 rounded-lg bg-green-700 px-5 py-2 font-medium hover:bg-blue-500" >Ver</button>
        </div>
    </div>
</section>

