@{  
   ViewData["Title"] = "Reporte";  
   var listReporte = ViewBag.Reporte as List<Reporte>;  
   var peAnio = ViewBag.PeAnio as List<int> ?? new List<int>();
}  

<div class="mt-20 flex justify-center">
    <div class="border-2 flex flex-col items-center rounded-lg bg-gray-500 p-5 text-white">
       <h1 class="text-center text-3xl">
           <strong >Selecciona tus opciones</strong>
       </h1>  
 
       <div class="flex space-x-4">  
           <section>  
               <h3>Año</h3>
                <select id="peAnio" class="w-32 rounded border border-blue-500 p-1 text-black">
                    <option value="">AÑO</option>
                    @foreach (var anio in ViewBag.PeAnio)
                    {  
                       <option value="@anio">@anio</option>  
                   }  
               </select>  
           </section>  
           <section>  
               <h3>Tipo</h3>
                <select id="peTipo" class="w-32 rounded border border-blue-500 p-1 text-black" disabled>
                    <option value="">TIPO</option>  
               </select>  
           </section>  
           <section>  
               <h3>Número</h3>
                <select id="teNumeroPeriodo" class="w-32 rounded border border-blue-500 p-1 text-black" disabled>
                    <option value="">NUMERO</option>  
               </select>  
           </section>  
       </div>  
        
       <div class="mt-3 flex w-full rounded-lg bg-gray-500">
            <table id="rowSelect" class="w-full rounded-lg bg-gray-300 text-black">
                <thead>  
                   <tr>  
                       <th class="border-b px-4 py-2">Codigo</th>  
                       <th class="border-b px-4 py-2">Nombre</th>  
                       <th class="border-b px-4 py-2">Ver</th>  
                       <th class="border-b px-4 py-2">Descargar</th>  
                   </tr>  
               </thead>  
               <tbody class="z-0">  
                   @if (listReporte != null)  
                   {  
                       foreach (var reports in listReporte)  
                       {  
                           <tr>  
                               <td class="border-b px-4 py-2">@Html.DisplayFor(m => reports.ReCodigo)</td>  
                               <td class="border-b px-4 py-2">@Html.DisplayFor(m => reports.ReNombre)</td>
                               <td class="border-b px-4 py-2 text-center">
                                   <button id="openModal" class="select-row rounded bg-blue-500 p-2 text-white" ><img src="~/images/ver-icon.webp" /></button>
                               </td>
                               <td class="space-x-4 border-b px-4 py-2 text-center">
                                   <button id="openModal" class="download-row rounded bg-red-500 p-2 text-white"><img src="~/images/pdf-icon.webp" /></button>
                                   <button id="openModal" class="excel-row rounded bg-green-500 p-2 text-white"><img src="~/images/excel-icon.webp" /></button>
                               </td>
                           </tr>  
                       }  
                   }  
               </tbody>  
           </table>  
       </div>
   </div>  
</div>  
 

