@{
    ViewData["Title"] = "Gracias!";
}

<section class="flex min-h-screen flex-col items-center justify-center text-white">
    <div class="border-2 space-y-4 rounded-lg bg-gray-500 text-center">
        <h1 class="p-2 text-xl lg:text-8xl">Gracias por acudir Soporte Técnico</h1>
        @if (@ViewData["UserActive"] != null)
        {
            <h2 class="p-2 text-2xl lg:text-6xl">@ViewData["UserActive"]</h2>
        }
        <h3 class="p-2 text-lg lg:text-2xl"> @ViewBag.Mensaje </h3>
    </div>
</section>