@{
    ViewData["Title"] = "Gracias!";
}

<div class="center-content">
    <h1>Gracias por acudir Soporte Técnico</h1>
    <h2>@ViewData["UserActive"]</h2>
    <h3 class="text-white"> @ViewBag.Mensaje </h3>
</div>
