

html {
  font-size: 14px;
  font-family: 'Pontano Sans', sans-serif;
}


/* Estilos para pantallas grandes */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  footer {
    position: relative;
  }

  .footer .container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .center-content {
    position: relative;
  }

  .center-content .btn {
    margin-top: 20px;
    padding: 15px 30px; /* Increase padding to make the button larger */
    font-size: 1.2em; /* Increase font size */
  }

  .center-content h2 {
    font-size: 3em;
    color: #fff;
  }
}

@media (max-width: 1980px) {
  .combobox-container select {
    width: 100%;
  }

  table {
    font-size: 14px;
  }
}

/* Estilos para pantallas pequeñas (teléfonos) */
@media (max-width: 767px) {
  html {
    font-size: 14px; /* Reducir el tamaño base de fuente */
  }

  footer {
    position: static;
    text-align: center; /* Centrar el texto */
  }

  .footer .container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .center-content {
    text-align: center;
  }

  .center-content .btn {
    margin-top: 10px;
    padding: 10px 20px; /* Reducir el tamaño del botón */
    font-size: 1em; /* Ajustar tamaño de fuente */
  }

  .center-content h2 {
    font-size: 2em; /* Reducir el tamaño del encabezado */
  }

  .combobox-container select {
    width: 100%;
    font-size: 1em; /* Ajustar tamaño de fuente */
  }

  table {
    font-size: 12px; /* Reducir el tamaño del texto en tablas */
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url('/images/pexels-photo-11505604.webp');
}

#logo img {
  margin-left: 10px;
  width: 100px;
  height: auto; 
}

h2 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #000000; /* Color de fondo del footer */
  text-align: center;
  padding: 30px 0; /* Ajuste de padding */
  box-shadow: 0 -2px 5px rgba(255, 255, 255, 0.1); /* Sombra superior */
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1200px; /* Ajuste de ancho máximo */
  margin: 0 auto; /* Centrado horizontal */
}
  footer p {
    color: #ffffff; /* Color del texto */
  }
  footer a {
    color: #0062cc;
  }

  footer a:hover {
    text-decoration: underline;
  }
/* parte de Inicio*/
.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.center-content h2 {
  font-size: 3em;
  color: #fff;
}

.center-content .btn {
  margin-top: 20px;
}

/* parte de login*/

.container2 {
    max-width: 400px;
    margin: 40px auto; /* Centrar el formulario horizontalmente */
    background-color: #f9f9f9; /* Fondo claro */
    border: 1px solid #ddd; /* Borde sutil */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

    .container2 h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }

    .container2 label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #555;
    }

    .container2 div {
        margin-bottom: 15px;
    }

    .container2 input[type="text"],
    .container2 input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .container2 input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #4CAF50; /* Verde */
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .container2 input[type="submit"]:hover {
        background-color: #45a049; /* Verde m�s oscuro */
    }

/*parte de vitsaIndex / vistaIndex*/
.containerIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

/*parte de la tabla*/

.combobox-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: #ffffff;
}
  .combobox-container h3 {
    font-size: 16px;
    padding: 8px;
  }

  .combobox-container select {
    font-size: 14px;
    padding: 10px;
    width: 150px;
    border: 1px solid #ccc;
      background-color: #ffffff;
    
  }
    
.rounded-container {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.Sistemas {
  margin: 0;
  background: #0062cc;
  color: #ffffff;
  font-size: 1rem;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}
  .Sistemas img {
      max-width: 80%;
      height: auto;
  }